<!DOCTYPE html>
<html>
<head>
<title>Test Leaflet</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/png" href="assets/favicon.ico">
</head>
<body>
<h1>Lista</h1>
<ul>
{{#pages}}
<li><a href="{{url_page}}">{{name}}</a></li>
{{/pages}}
</ul>
</body>
</html>
