<!DOCTYPE html>
<html>
<head>
<title>{{isolabel_ext}} - Test Leaflet</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/png" href="https://raw.githubusercontent.com/digital-guard/preservDataViz/main/src/preservCutGeo/assets/favicon.ico">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
<link rel="stylesheet" href="assets/tablesort/tablesort.css" />
<link rel="stylesheet" href="styles.css" />
</head>
<body>

<h1>{{isolabel_ext}} • Dados filtrados do pacote {{pack_number}}</h1>
<p>Dados doados por <a rel="external" target="_doador" href="{{url}}">{{donor_name}}</a> (<small>{{vat_id}} • Wikidtata <a rel="external" target="_doador" href="https://www.wikidata.org/wiki/Q{{wikidata_id}}">Q{{wikidata_id}}</a></small>).</p>
<p>Pacote obtido por e-mail e <i>download</i> em <b>{{accepted_date}}</b>, sob testemunho e tutela de {{user_resp}} (avaliação técnica) e Thierry (representação institucional), que confirmaram com Fulano a <a rel="external" target="_doador" href="https://creativecommons.org/publicdomain/zero/1.0/deed.pt_BR">licença livre <b>CC0</b></a> e as evidências de integridade da origem conforme abaixo:</p>

<table class="styled-table dataselector" align="center" width="90%">
	<thead>
	<tr>
	<th scope="col">Layer</th>
	<th scope="col">Origem e Volumetria</th>
	<th scope="col">Descrição e extração</th>
	</tr>
	</thead>
	<tbody>
        {{#layers}}
		<tr>
			<td class="dataselector" >
				<img alt="Marcador de mapa." src="https://raw.githubusercontent.com/digital-guard/preserv/main/docs/assets/layerIcon-{{class_ftname}}.png">
				<a href="{{url_page}}"><strong>{{class_ftname}}</strong></a> ({{shortname}})
			</td>
			<td>
				<a title="SHA256 {{hashedfname_without_ext}}"
					href="http://dl.digital-guard.org/{{hashedfname}}"><code>{{hashedfname_7_ext}}</code></a>
					{{#publication_summary}}
					({{bytes}} bytes • {{bytes_mb}} <abbr title="mebibyte">MiB</abbr>)<br />
					{{itens}} {{geom_type}}{{^isGeoaddress}}, totalizando {{size}} <abbr title="{{geom_unit_ext}}">{{geom_unit_abr}}</abbr> de {{geom_type}};<br/> densidade média de {{avg_density}} {{geom_type}}/km².</td>{{/isGeoaddress}}{{#isGeoaddress}}densidade média de {{avg_density}} {{geom_type}}/km². {{!--xx km_via/km²--}}</td>{{/isGeoaddress}}
					{{/publication_summary}}
			<td>{{description}}<br><code>make {{class_ftname}}</code></td>
		</tr>
		{{/layers}}
	</tbody>
</table>

<p>A extração e filtragem dos dados de cada layer descrito acima tem seu <code>makefile</code>
	gerado conforme definições em <a target="_git" href="http://git.digital-guard.org/preserv-{{path_preserv}}/make_conf.yaml"><small>git.digital-guard.org/preserv-{{path_preserv}}/make_conf.yaml</small></a>.
	A <a rel="external" target="_docs" href="http://git.digital-guard.org//preserv/blob/main/docs/pt/man-makeConf.md">documentação técnica</a> para execução do <code>make</code> fornece mais detalhes.
{{#layer}}
	<br />A navegação no mapa abaixo faz uso direto e transparente dos dados publicados em <a target="_git" href="http://git.digital-guard.org/{{path_cutgeo}}/{{class_ftname}}"><small>git.digital-guard.org/{{path_cutgeo}}/{{class_ftname}}</small></a>.
{{/layer}}
</p>

<div id='map'></div>

<ul id="buttons" class="menu">
	<li><a id="clear_all" class="btn" href="./">Clear All</a></li>
	<li><input type="checkbox" id="remember_tggl" name="remember_tggl" checked>
		<label for="scales">Remember Selection</label></li>
</ul>

<table id="ghs_table" width="300" align="center">
	<thead><th>Geohashes</th><th>Items</th><th>Items por <abbr title="quilômetros quadrados">km²</abbr></th></thead>
<!-- 	<th scope="row">The Stranglers</th> -->
	<tbody id="ghs_table_body"></tbody>
</table>

<p>Instruções para navegar no mapa e seus dados:
	<ol>
		<li>Zoon-in no "mosaico de Geohashes" para selecionar o quadrante desejado;</li>
		<li>Clique no quadrante para ver os seus pontos;</li>
		<li>(depois de carregados os pontos) Clique no ponto para ver o endereço;</li>
		<li>Zoon-out dos pontos para voltar ao mosaico.</li>
	</ol>
</p>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.2/chroma.min.js" integrity="sha512-8TVPS0EFkkmtT6yPb5K4csnSt3tjbKRrs0F8gvTNKv2OxOcwDO7+Klkz86gMVrzfqtZos5N2a+k+r9D+hlccmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="assets/tablesort/tablesort.min.js"></script>
<script src="assets/tablesort/sorts/tablesort.number.min.js"></script>
{{#layer}}
<script>baseURL = "https://raw.githubusercontent.com/digital-guard/{{path_cutgeo_notree}}/{{class_ftname}}/"; {{#publication_summary}}prefix = "{{geom_type_abbr}}"{{/publication_summary}}</script>
{{/layer}}
<script src="main.js"></script>
</body>
</html>
